body {
        margin: 0;
        font-family: "Arial";
}

#wrapper-header {
        width: 100%;
        height: 6em;
        margin: 0;
        float: left;
        clear: both;
}


#logobox {
        float: left;
        margin: 0;
        height: 100%;
        width: 40%;
        border-bottom-style: solid;
        border-bottom-color: rgb(0, 174, 241);  
}

#logo {
        height: 100%;
        width: 7em;
        float: left;
        
}

#min {
        float: left;
        position: relative;
        top: .58em;
        font-size: 400%;
        color: #4d4d4d;
        margin: 0;
        text-decoration: none;
}

#finger{
        float: left;
        position: relative;
        top: .8em;
        font-size: 350%;
        color: rgb(0, 174, 241);
        margin: 0;
        text-decoration: none;
}

#min:hover {
        color: rgb(0, 174, 241);
}

#finger:hover{
        color: #4d4d4d;
}

nav {
        background-color: white;
        width: 60%;
        height: 100%;
        border-bottom-style: solid;
        border-bottom-color: rgb(0, 174, 241);
        margin: 0;
        float: left;
    
        
}


nav li {
        display: inline-block;
        padding-right: 2.5em;
}

nav ul {
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0;
        position: relative;
        top: 70%;
        width: 100%;
}

nav a {
        text-decoration: none;
        color: #323232;
        font-size: 200%;
        font-weight: bold;
}



nav a:hover {
        padding-top: .2em;
        color: rgb(0, 174, 241);
}

#wrapper-content {
        height: auto;
        width: 100%;
        float: left;
        clear: both;
}

.wrapper-section-1 {
        padding: 2em 0em 3em 0em;  
        background-color: ;
        float: left;
        width: 70%;
        height: auto;
        text-align: center;
        padding-left: 15%;
        padding-right: 15%;
        
}

.wrapper-section-2 {
        padding: 2em 0em 3em 0em;  
        background-color: #f2f2f2;
        float: left;
        width: 70%;
        height: auto;
        text-align: center;
        padding-left: 15%;
        padding-right: 15%;
        background-image: url(pictures/prototype.jpg)
}

.h1title {
        margin: 0;
        font-size: 250%;
}

.desc {
        
        font-size: 120%;
        font-weight: ;
        line-height: 1.5;
        
}

.button {
        z-index: 10;
        color: white;
        background-color: rgb(0, 174, 241);
        border-radius: 28px;
        font-size: 120%;
        border-style: solid;
        border-color: rgb(0, 174, 241);
        padding: 10px 20px 10px 20px;
        position: relative;
        left: -1%;
        box-shadow: 0px 1px 7px #4d4d4d;
        cursor: pointer;
        cursor: hand;
}

.button:hover{
        background-color: #0085cc;
        border-color: #0085cc;
}

.produkt a.produkt, .sikkerhet a.sikkerhet, .hvorfor a.hvorfor, .kontaktoss a.kontaktoss{

color: #0066cc;

}

<!--@media screen and (max-width: 1250px){
#wrapper-header {
    width: 100%;
}
    #logobox {
        width: 100%;
}

nav {
    width: 50%;
    border-style: hidden; 
}
nav li{
    width: 100%;
    clear: both;
    
}
    
nav a{
        font-size: 200%;
}    
    
}
-->
@media screen and (max-width: 979px){
#wrapper-content {
        width: 100%;
}
.wrapper-section-1 {
          
        font-size: 
}

nav li {
        display: block;
        padding-right: 2.5em;
        float: none;
}

nav ul {
        display: block;
        float: none;
        margin: 0;
        padding: 0;
        position: relative;
        top: 70%;
        width: 20%;
}

nav a {
        text-decoration: none;
        color: white;
        font-size: 1px;
        font-weight: bold;
}

.h1title {
        margin: 0;
        font-size: 150%;
}

.desc {
        
        font-size: 100%;
        font-weight: ;
        line-height: 1.5;
        
}

.button {
        z-index: 10;
        color: white;
        background-color: rgb(0, 174, 241);
        border-radius: 28px;
        font-size: 120%;
        border-style: solid;
        border-color: rgb(0, 174, 241);
        padding: 10px 20px 10px 20px;
        position: relative;
        left: -1%;
        box-shadow: 0px 1px 7px #4d4d4d;
        cursor: pointer;
        cursor: hand;
}

@media screen and (max-device-width: 768px) {
    
        #finger{
        float: left;
        position: relative;
        top: .58em;
        font-size: 10%;
        color: rgb(0, 174, 241);
        margin: 0;
        text-decoration: none;
        display: none;
}
    
    nav li {
        float: none;
    }
    
   nav a {
        text-decoration: none;
        color: white;
        font-size: 0px;
        font-weight: bold;
}
    
    nav {
        display: none;
    }
    
    
    #min {
        display: none;
        float: left;
        position: relative;
        top: .58em;
        font-size: 100%;
        color: #4d4d4d;
        margin: 0;
        text-decoration: none;
}
}